<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingzhilanmo.business.mapper.userMapper" >
    <resultMap id="BaseResultMap" type="com.bingzhilanmo.business.model.user" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pwd" property="pwd" jdbcType="VARCHAR" />
        <result column="insert_time" property="insertTime" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, name, pwd, insert_time, update_time
    </sql>
    
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="getByIds" resultMap="BaseResultMap" >
        select 
        <include refid="Base_Column_List" />
        from user where id in 
        <foreach collection="list" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="getByPojo" resultMap="BaseResultMap" parameterType="com.bingzhilanmo.business.model.user" >
        select 
        <include refid="Base_Column_List" />
        from user 
        <where >
            <if test="id != null" >
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null" >
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="pwd != null" >
                and pwd = #{pwd,jdbcType=VARCHAR}
            </if>
            <if test="insertTime != null" >
                and insert_time = #{insertTime,jdbcType=INTEGER}
            </if>
            <if test="updateTime != null" >
                and update_time = #{updateTime,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    
    <sql id="getByPageSql" >
        select a.* from user a where 1=1 
        <if test="params.id != null" >
            and a.id = #{params.id,jdbcType=INTEGER}
        </if>
        <if test="params.name != null" >
            and a.name = #{params.name,jdbcType=VARCHAR}
        </if>
        <if test="params.pwd != null" >
            and a.pwd = #{params.pwd,jdbcType=VARCHAR}
        </if>
        <if test="params.insertTime != null" >
            and a.insert_time = #{params.insertTime,jdbcType=INTEGER}
        </if>
        <if test="params.updateTime != null" >
            and a.update_time = #{params.updateTime,jdbcType=INTEGER}
        </if>
        order by a.id desc
    </sql>
    
    <select id="getByPageList" resultMap="BaseResultMap" parameterType="PageInfo" >
        select temp.* from (
        <include refid="getByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="getByPageCount" resultType="java.lang.Integer" parameterType="PageInfo" >
        select count(1) from (
        <include refid="getByPageSql" />
        ) temp 
    </select>
    
    <select id="getAll" resultMap="BaseResultMap" >
        select 
        <include refid="Base_Column_List" />
        from user
    </select>
    
    <select id="getAllCount" resultType="java.lang.Integer" >
        select count(1) from user
    </select>
    
    <update id="modify" parameterType="com.bingzhilanmo.business.model.user" >
        update user
        set name = #{name,jdbcType=VARCHAR},
            pwd = #{pwd,jdbcType=VARCHAR},
            insert_time = #{insertTime,jdbcType=INTEGER},
            update_time = #{updateTime,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="modifySelective" parameterType="com.bingzhilanmo.business.model.user" >
        update user
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null" >
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null" >
                insert_time = #{insertTime,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <insert id="save" parameterType="com.bingzhilanmo.business.model.user" >
        insert into user (id, name, pwd, 
            insert_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
            #{insertTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER})
    </insert>
    
    <insert id="saveBatch" parameterType="java.util.List" >
        insert into user (id, name, pwd, insert_time, update_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.id,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.pwd,jdbcType=VARCHAR}, #{item.insertTime,jdbcType=INTEGER}, #{item.updateTime,jdbcType=INTEGER})
        </foreach>
    </insert>
    
    <delete id="delById" parameterType="java.lang.Integer" >
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    
    <delete id="delByIds" >
        delete from user where id in 
        <foreach collection="list" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
</mapper>